<% if @comments.blank? %>
<em>Be the first to leave a comment</em>
<% else %>
<h3>Comments</h3>
<br>
<ul>
  <% @comments.each do |comment| %>
  <li>Author: <%= comment.author %></li>
  <li>Url: <%= comment.author_url %></li>
  <li>Content: <%= comment.content %></li>
  <br>
  <br>
  <% end %>
</ul>
<% end %>
