<h3>Comments</h3>
<table>
  <br>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td style="color:white;"><p><%= comment.content %></p></td>
      <td style="color:white;"><p><%= comment.author_url %></p></td>
    </tr>
    <% end %>
  </tbody>
</table>
