<div class="navbar navbar-fixed-top">
        <div class="navbar-inner docs-navbar-inner">
          <div class="container">
            <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
            <div class="nav-collapse collapse">
              <nav id="menu">
                <ul class="nav docs-navbar-menu">
                  <li><a class="brand" href="/">John Jensen</a></li>
                  <li class=""><a href="/posts">Posts</a></li>
                  <li class=""><a href="/projects">Projects</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
