<div class="logo">
  <p>
  John<span>Jensen</span>
  </p>
  <div class="socials">
    <a href="http://twitter.com/iamjohnjensen" class="fa fa-twitter fa-2x"></a>
    <a href="http://dribbble.com/johnjensen" class="fa fa-dribbble fa-2x"></a>
  </div>
</div>
<div class="row">
  <div class="span8">
    <p class="slogan">
    <span>i enjoy building rich web applications&nbsp;</span>
    <br><br>
    <span>
    gem 'pixel-obsessive'
    <br>
    gem 'illegal-caffeine-beverage'
    <br>
    gem 'broken-volume-knob-at-11'
    </span>
    <br><br>
    <span>$ bundle&nbsp;</span></p>
  </div>
  <div class="span4">
    <p class="sites">
    <a href="http://www.onlythebeat.com" target="_blank"><span>onlythebeat.com</span></a>
    <a href="http://soundsilike.co" target="_blank"><span>soundsilike.co</span></a>
    </p>
  </div>
