<h1>Projects</h1>
<div class="row thumbnails-row">
  <%= render @projects %>
</div>
<br />
<% if policy(@projects).create? %>
<%= link_to 'New Project', new_project_path, :class => "btn" %>
<% end %>
