<div class="posts" id="posts">
  <%= render @posts %>
</div>
<br>
<br>
<% if policy(@posts).create? %>
<%= link_to 'New Post', new_post_path, id: "new_link", :class => "btn btn-info btn-block", remote: true %>
<% end %>
