<table>
  <br>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><h3><%= link_to post.title, post_path(post) %></h3></td>
      <td>&nbsp;</td>
      <td><%= link_to 'Edit', edit_post_path(post), :class => "btn" %></td>
      <td>&nbsp;</td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path, :class => "btn" %>
